{%extends 'base.html'%} {%block content%}
<section class="section-content padding-y bg">
    <div class="container">
      <!-- ============================ COMPONENT 1 ================================= -->
  
      <div class="row">
        <!-- col.// -->
        <aside class="col-lg-12">
          <div class="card">
            <div class="card-body text-center">
             
              <p class="text-center mb-3">
                Your click on the button to confirm payment and complete your order
              </p>
              <button class="btn btn-primary btn-block" onclick="paywithPaystack()"
              id="payme-button" > Confirm Order and Complete Payment
            </button>
              
              <!-- <h3>Make payment for: GH {{payment.amount}}</h3> <hr> -->
             
            </div>
            <!-- card-body.// -->
          </div>
          <!-- card.// -->
        </aside>
        <!-- col.// -->
      </div>
      <!-- row.// -->
      <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div>
    <!-- container .//  -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  
    

  <script src="https://js.paystack.co/v1/inline.js"></script>   

    <script>

  // paystack script
  function paywithPaystack(){
      let currency = "GHS";
      let plan = "";
      let ref = "{{payment.ref}}"
      let obj = {
          key:"{{paystack_publick_key}}",
          email:'{{payment.email}}',
          amount:'{{ payment.amount_value }}',
          ref:ref,
          callback:function(response){
                window.location.href = "{%url 'verify-payment' payment.ref %}"
          }
      }

      if(Boolean(currency)){
          obj.currency = currency.toUpperCase()
      }    
      if (Boolean(plan)){
          obj.plan = plan;
      }        

      var handler = PaystackPop.setup(obj);
      handler.openIframe()
  }

    </script>

{%endblock%}