{%load static%}
<footer class="section-footer bg-white footer-dark mt-5 border-top">
    <div class="container-fluid">
        <section class="footer-main py-5">
            <div class="row">
                <aside class="col-12 col-sm-12 col-lg-3">
                    <article class="me-lg-4"> <img src="{%static 'img/brand/logo.png'%}"
                            class="logo-footer img-fluid" width="150px">
                        <p class="mt-3">Copyright © <span id="spanDate"></span> BFTtrading. <br> All rights reserved. </p>
                    </article>
                </aside>
                <aside class="col-6 col-sm-4 col-lg-2">
                    <h6 class="title">Store</h6>
                    <ul class="list-menu">
                        <li> <a href="#">About us</a></li>
                        <li> <a href="#">Find store</a></li>
                        <li> <a href="#">Categories</a></li>
                        <li> <a href="#">Blogs</a></li>
                    </ul>
                </aside>
                <aside class="col-6 col-sm-4 col-lg-2">
                    {% comment %} <h6 class="title">Information</h6>
                    <ul class="list-menu">
                        <li> <a href="#">Help center</a></li>
                        <li> <a href="#">Money refund</a></li>
                        <li> <a href="#">Shipping info</a></li>
                        <li> <a href="#">Refunds</a></li>
                    </ul> {% endcomment %}
                </aside>
                <aside class="col-6 col-sm-4 col-lg-2">
                    <h6 class="title">Support</h6>
                    <ul class="list-menu">
                        {% comment %} <li> <a href="#"> Help center </a></li> {% endcomment %}
                        {% comment %} <li> <a href="#"> Documents </a></li> {% endcomment %}
                        <li> <a href="#"> Account restore </a></li>
                        <li> <a href="#"> My Orders </a></li>
                    </ul>
                </aside>
                <aside class="col-12 col-sm-12 col-lg-3">
                    <h6 class="title">Newsletter</h6>
                    <p>Stay in touch with latest updates about our products and offers </p>
                    <form class="mb-3">
                        <div class="input-group"> <input class="form-control" type="text" placeholder="Email">
                            <button class="btn btn-outline-success" type="submit"> Join </button>
                        </div>
                        <!-- input-group.// -->
                    </form>
                </aside>
            </div> <!-- row.// -->
        </section> <!-- footer-top.// -->
        <hr class="my-0">
        <section class="footer-bottom d-flex justify-content-lg-between">
            <div> 
                <img src="{%static 'img/paystack-2.svg'%}" class="img-fluid" width="80px" alt="">
            </div>

        </section>
    </div> <!-- container end.// -->
</footer>
